html {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    background-color: #00539f;
    background-image: url('../tableback/depositphotos_212748532-stock-photo-office-desk-home-office-table.jpg');
}
body {
}
.mydesign {
    background-image: url('../tableback/1d7238660b7711d07b4408d8f7244924.jpg');
}
